*,
*::before
*::after{
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    
}
header{
    padding: 32px;
}
nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 40px;
}
.logo{
    font-size: 22px;
    font-weight: 900;
    color: #262626;
}
.header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-right: auto;
}
.header-items-item{
    color: #888484;
    font-weight: 500;
    font-size: 15px;
}
.btn{
    border: none;
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 9999px;
    background-color: transparent;
    font-weight: 500;
    color: #888484;
}
.btn-primary{
    background-color: rgb(69, 226, 210);
    color: white;
}
.first-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    gap: 20px;
    margin-bottom: 40px;
}
.first-section > div {
    width: 50%;
}
.first-section > div > h1 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 15px;
}
.first-section > div > p {
    font-size: 20px;
    color: #888484;
    font-weight: 600;
    margin-top: 0px;
}
.image{
    width: 40%;
}
.second-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 30px;
    background-color: #4a406c;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 8px;
}
input{
    width:100%;
    padding: 20px 15px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    
}
.btn-search{
    border-radius: 8px;
    width: 140px;
    padding: 21px 20px;
}

